
/* Catalog */

.Catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    --catalog-preview-width: 300px;
    --catalog-preview-height: 200px;
}


/* Catalog Entry */

.Catalog .Entry {
    width: var(--catalog-preview-width);
    height: calc(var(--catalog-preview-height) + 100px);
    position: relative;
    margin: 2em;
    pointer-events: none;
}
.Catalog .Entry:hover .Preview {
    opacity: 1;
}
.Catalog .Entry:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2em;
}
.Catalog .Preview {
    width: var(--catalog-preview-width);
    height: var(--catalog-preview-height);
    transform-origin: 0% 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.Catalog .Actions {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}


/* Drawing Elements */

.ElementOutline {
    display: inline-block;
    height: 1.5em;
    border-radius: 50px;
    margin: 0.2em;
    background: rgba(255, 255, 255, 0.6);
}
.ElementOutlineSelected {
    background: black !important;
}
.PageOutline {
    text-align: left;
}
.DrillOutline {
    text-align: center;
}
.ColumnOutline {
    display: inline-block;
    text-align: center;
    margin-right: 0.6em;
    margin-left: 0.6em;
}
.WordOutline {
    display: inline-block;
    height: 0.6em;
    margin: 0.2em;
    background: rgba(200, 200, 200, 0.9);
}
.LetterOutline {
    height: 2em;
    width: 2em;
}
.GridOutline {
    text-align: center;
}
.CellOutline {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0.3em;
    background: rgba(255, 255, 255, 0.6);
}
