
/* Catalog */

.Catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* PanelCorner Element */
.Catalog .PanelCorner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 1.2em;
    z-index: 200;
}
.Catalog .PanelCorner.Collapsed {
    background: rgba(0, 0, 0, 0.5);
}
.Catalog .PanelCorner.Expanded {
    background: rgba(0, 0, 0, 100);
    transition: 0.1s linear all;
}

.Catalog .ButtonBlack {
    background: rgba(0,0,0,1);
    color: white;
}
.Catalog .ButtonDark {
    background: rgba(0,0,0,0.25);
    color: white;
}
.Catalog .ButtonLight {
    background: rgba(255,255,255,0.25);
    color: black;
}
.Catalog .ButtonLongText {
    max-width: 100%;
    text-transform: none;
}
.Catalog .MuiButton-label em {
    margin: 0 0.25em;
}

.PanelCornerMenu {
    display: grid;
    grid-template-columns: auto 2in;
    grid-template-rows: auto;
    grid-template-areas:
      "text button"
}
.PanelCornerText {
    grid-area: text;
    padding: 1em;
    overflow: hidden;
}
.PanelCornerButton {
    grid-area: button;
}

.Catalog .PanelCorner .ButtonBrowse {
    width: 100%;
    height: 100%;
    padding: 0 1cm;
    background: rgba(0,0,0,0.25);
    color: white;
}
.Catalog .PanelCorner em {
    font-style: italic;
    font-weight: 600;
}
.Catalog .PanelCorner small {
    font-size: 75%;
    font-weight: 600;
}

.Catalog .Readings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
