.Centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


table.Styled {
    width: 80%;
    margin: 2em auto;
    height: auto; /* FIXME Conflict with Paper.css */
}
table.Styled td, table.Styled th {
    text-align: center;
    padding: 0.5cm;
    vertical-align: middle;
}
table.Styled em {
    font-weight: 700;
}
table.Styled thead tr {
    border-bottom: 0.1cm solid black;
}
table.Styled tbody tr {
    border-bottom: 0.1cm solid rgba(0,0,0,0.5);
}

