.FullScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    padding: 20px;
}

.Centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OutOfScreen {
    position: fixed;
    left: -100%;
    top: -100%;
}

.ButtonClose {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    color: black !important;
  }
