/*
 * General
 */

.DrillControls {
  position: fixed;
  z-index: 999;
  right: 1rem;
  top: 1rem;
  text-align: right;
}
.DrillControls ul {
  list-style-type: none;
}
.DrillControls li {
  display: inline-block;
}

.DrillArea {
  position: fixed;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/*
 * Vision Span Drills
 */

.Serie {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Line {
  line-height: 1.5em;
}

.Cell {
  display: inline-block;
  width: 0.25in;
  text-align: center;
}
.Cell.valid {
  color: green;
}
.Cell.highlighted {
  background-color: green;
  color: white;
}




/*
 * Chunking Drills
 */

.ChunkHighlight .Chunk.Selected,
.GraphicOption.ChunkHighlight > span {
  background-color: var(--chunk-color);
  color: white;
}
.ChunkColor .Chunk.Selected,
.GraphicOption.ChunkColor > span {
  color: var(--chunk-color);
}
.ChunkUnderline .Chunk.Selected,
.GraphicOption.ChunkUnderline > span {
  border-bottom: 0.4em solid var(--chunk-color);
}



/*
 * ViewerChunk
 */

.ViewerChunk {
  --chunk-neighbor-margin: .25em;
}

.ViewerChunk .Chunks {
  text-align: center;
}

.ViewerChunk .Chunk {
  display: inline-block;
  padding: 10px;
}

.ViewerChunk.NeighborPositionVertical .Chunk {
  margin-top: var(--chunk-neighbor-margin);
  margin-bottom: var(--chunk-neighbor-margin);
}
.ViewerChunk.NeighborPositionHorizontal .Chunk {
  display: inline-block;
  margin-left: var(--chunk-neighbor-margin);
  margin-bottom: var(--chunk-neighbor-margin);
}


/*
 * ViewerPage
 */

.ViewerPage {
  height: 100%;

  --drill-fade-color: #eee;
}
.ViewerPage.DisableVisualRegression.DisableVisualProblemStyleTransparent .Chunk.Before { opacity: 0; }
.ViewerPage.DisableVisualRegression.DisableVisualProblemStyleFade        .Chunk.Before { color: var(--drill-fade-color); background-color: var(--drill-fade-color); }
.ViewerPage.DisableVisualRegression.DisableVisualProblemStyleBlur        .Chunk.Before { filter: blur(0.1em); opacity: 0.5; }

.ViewerPage.DisableVisualProgression.DisableVisualProblemStyleTransparent .Chunk.After { opacity: 0; }
.ViewerPage.DisableVisualProgression.DisableVisualProblemStyleFade        .Chunk.After { color: var(--drill-fade-color); background-color: var(--drill-fade-color); }
.ViewerPage.DisableVisualProgression.DisableVisualProblemStyleBlur        .Chunk.After { filter: blur(0.1em); opacity: 0.5; }

/* We have a small space to print the page in the wizard */
.WizardPage .Paper {
  height: auto !important;
  overflow: hidden;
}
.WizardPage .PaperContent {
  position: unset !important;
}


/*
 * Viewer Column
 */

.ViewerColumn .Columns {
  display: grid;
  /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
  text-align: center;
  justify-content: center; /* center horizontally without spreading elements */
  align-content: center; /* center vertically without spreading elements */
}
.ViewerColumn .Chunk {
  line-height: 1.5em;
}


/* ViewerCircle */
.ViewerCircle {
  position: relative;
  width: 100%;
  height: 100%;
}

.ViewerCircle .Cell {
  position: absolute;
  width: 1em;
  height: 1em;
}


