/*
 * General
 */

.DrillControls {
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 20px;
  text-align: right;
}
.DrillControls ul {
  list-style-type: none;
}
.DrillControls li {
  display: inline-block;
}

.DrillArea {
  position: fixed;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/*
 * Vision Span Drills
 */

.Serie {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Line {
  line-height: 1.5em;
}

.Cell {
  display: inline-block;
  width: 0.25in;
  text-align: center;
}
.Cell.valid {
  color: green;
}
 .Cell.highlighted {
  background-color: green;
  color: white;
}


  /*
   * Schulte Drill
   */

  table.SchulteTable,
  table.SchulteTable td {
    border: 1px solid black;
  }
  table.SchulteTable td {
    text-align: center;
    display: table-cell;
    vertical-align: middle
  }
  td.Width0in     { width: 0in;    height: 0in;    }
  td.Width0_25in  { width: 0.25in; height: 0.25in; }
  td.Width0_5in   { width: 0.5in;  height: 0.5in;  }
  td.Width0_75in  { width: 0.75in; height: 0.75in; }
  td.Width1in     { width: 1in;    height: 1in;    }
  td.Width1_25in  { width: 1.25in; height: 1.25in; }
  td.Width1_5in   { width: 1.5in;  height: 1.5in;  }
  td.Width1_75in  { width: 1.75in; height: 1.75in; }
  td.Width2in     { width: 2in;    height: 2in;    }
  td.Width2_25in  { width: 2.25in; height: 2.25in; }
  td.Width2_5in   { width: 2.5in;  height: 2.5in;  }
  td.Width2_75in  { width: 2.75in; height: 2.75in; }
  td.Width3in     { width: 3in;    height: 3in;    }
  td.Width3_25in  { width: 3.25in; height: 3.25in; }
  td.Width3_5in   { width: 3.5in;  height: 3.5in;  }
  td.Width3_75in  { width: 3.75in; height: 3.75in; }
  td.Width4in     { width: 4in;    height: 4in;    }
  td.Width3in     { width: 4.25in; height: 4.25in; }
  td.Width4_25in  { width: 4.25in; height: 4.25in; }
  td.Width4_5in   { width: 4.5in;  height: 4.5in;  }
  td.Width4_75in  { width: 4.75in; height: 4.75in; }
  td.Width5in     { width: 5in;    height: 5in;    }


  /*
   * Chunking Drills
   */

  .Ruler {
    opacity: 0;
  }

  .Chunker, .Pager {
    opacity: 0;
    z-index: 0;
  }

  .ChunkHighlight .Chunk.Selected,
  .GraphicOption.ChunkHighlight > span {
    background-color: var(--chunk-color-light);
    color: white;
  }
  .ChunkColor .Chunk.Selected,
  .GraphicOption.ChunkColor > span {
    color: var(--chunk-color-dark);
  }
  .ChunkUnderline .Chunk.Selected,
  .GraphicOption.ChunkUnderline > span {
    border-bottom: 0.4em solid var(--chunk-color-light);
  }




  /*
   * ViewerChunk
   */

  .ViewerChunk {
    --chunk-neighbor-margin: .25em;
  }

  .ViewerChunk .Chunks {
    text-align: center;
  }

  .ViewerChunk .Chunk {
    display: inline-block;
    padding: 10px;
  }

  .ViewerChunk.NeighborPositionVertical .Chunk {
    margin-top: var(--chunk-neighbor-margin);
    margin-bottom: var(--chunk-neighbor-margin);
  }
  .ViewerChunk.NeighborPositionHorizontal .Chunk {
    display: inline-block;
    margin-left: var(--chunk-neighbor-margin);
    margin-bottom: var(--chunk-neighbor-margin);
  }


  /*
   * ViewerPage
   */

  .ViewerPage {
    height: 100%;

    --drill-fade-color: #eee;
  }
  .ViewerPage.DisableVisualRegression.DisableVisualProblemStyleTransparent .Chunk.Before { opacity: 0; }
  .ViewerPage.DisableVisualRegression.DisableVisualProblemStyleFade        .Chunk.Before { color: var(--drill-fade-color); background-color: var(--drill-fade-color); }
  .ViewerPage.DisableVisualRegression.DisableVisualProblemStyleBlur        .Chunk.Before { filter: blur(0.1em); opacity: 0.5; }

  .ViewerPage.DisableVisualProgression.DisableVisualProblemStyleTransparent .Chunk.After { opacity: 0; }
  .ViewerPage.DisableVisualProgression.DisableVisualProblemStyleFade        .Chunk.After { color: var(--drill-fade-color); background-color: var(--drill-fade-color); }
  .ViewerPage.DisableVisualProgression.DisableVisualProblemStyleBlur        .Chunk.After { filter: blur(0.1em); opacity: 0.5; }

  /* We have a small space to print the page in the wizard */
  .WizardPage .Paper {
    height: auto !important;
    overflow: hidden;
  }
  .WizardPage .PaperContent {
    position: unset !important;
  }


  /*
   * Viewer Column
   */

  .ViewerColumn .Columns {
    display: grid;
    /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
    text-align: center;
    justify-content: center; /* center horizontally without spreading elements */
    align-content: center; /* center vertically without spreading elements */
  }
  .ViewerColumn .Chunk {
    line-height: 1.5em;
  }


  /* ViewerCircle */
  .ViewerCircle {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ViewerCircle .Cell {
    position: absolute;
    width: 1em;
    height: 1em;
  }


  /*
   * Wizard
   */

  .Wizard {
    background-color: var(--theme-color);

    --mdc-theme-secondary: black; /* Used by Switch */
  }

  .Wizard .Setting {
    margin-bottom: 2em;
  }



  /*
   * Wizard options
   */


   .PredefinedOptions {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .PredefinedOptions button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em;
    background-color: white;
    color: black;
    border-radius: 0.5em;
    background-color: var(--mdc-theme-background);
    opacity: 0.5;
    padding: 0.8em 2em;
    margin: 0.1em 0.1em;
    margin-right: -0.5em;
  }

  .PredefinedOptions button:hover {
    opacity: 1;
    margin-left: -0.5em;
  }

  .Options {
    position: absolute;
    top: 2em;
    width: 100%;
  }


  .Option {
    display: inline-block;
    margin: 1em 0;
  }
  .Option::after {
    content: '';
    margin-left: 1em;
    margin-right: 2em;
    border-right: 4px solid var(--mdc-theme-background);
  }
  .Option label {
    font-weight: 900;
    margin-left: 1em;
    margin-right: 1em;
  }

  .Option .DotSeparator {
    font-size: 2em;
    vertical-align: bottom;
    margin: 0.20em;
  }

  .Option select {
    appearance: none;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0.7em;
    padding-right: 1.95em;
    border: 0;
    border-radius: .3em;
    font: inherit;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(-45deg, transparent 50%, currentColor 50%);
    background-size: 0.275em 0.275em;
    background-position: calc(100% - 0.975em) center, calc(100% - 0.7em) center;
    background-repeat: no-repeat;
    box-shadow: none;
    cursor: pointer;
    transition: .2s;
  }
  .Option select:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15em rgba(0, 0, 0, 0.1);
  }
  .Option select:invalid {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .Option select:disabled {
    opacity: .7;
    cursor: default;
  }

/* 
 * Stats
 */

.Stats {
  background-color: var(--theme-color);
}

table.Stats {
  font-size: 2.5em;
  font-weight: 600;
  margin: 1cm;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
table.Stats td {
  padding: 0cm 0.25cm;
}
table.Stats td.Statistic {
  text-align: right;
}

.Actions > * {
  /* Add space between buttons */
  margin: 0 0.5cm;
}



/* Inspired by https://codepen.io/markmead/pen/YjQKeZ */
/* How to use? */
/* <h1 class="Statictic StatisticStroke StatisticShadow">Text with only stroke and a text shadow</h1>  */
/* <h1 class="Statictic StatisticStrokeShadow">Text with stroke and fill and a text shadow</h1>  */
.Statistic {
  font-size: 8rem;
  letter-spacing: 6px;
  margin: 2rem 0;
  font-style: normal;
}
.StatisticStroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0d1b1e;
  -moz-text-stroke-color: #0d1b1e;
  color: transparent;
}
.StatisticShadow {
  text-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}
.StatisticStrokeShadow {
  color: var(--theme-color);
  text-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px rgba(0, 0, 0, 0.5);
}



  /* TODO Not sure about these declarations... */
  .Setting {
    font-weight: 900;
  }
  .Setting.LabelsAtRight tr > td {
    text-align: right;
    padding: 0 1em;
  }
  .Setting.LabelsAtRight tr > td.Label {
    text-align: left;
  }
  .Setting td {
    height: 3em;
    vertical-align: middle;
  }
