/*
 * Menu
 */

/* Inspiration: https://console.firebase.google.com/project/typio-59500/overview */
nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--menu-size);
  margin: 0;
  padding: 0;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  z-index: 10;
}

@media only screen and (orientation: portrait) {
  nav.menu {
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: var(--menu-size);
    flex-direction: row;
  }
}


nav.menu a {
  /* Box */
  padding: 20px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: gray;
  /* Text */
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

@media only screen and (orientation: portrait) {
  nav.menu a {
    height: auto;
    width: 20%;
  }
}

nav.menu a.active, nav.menu a:hover {
  color: rgba(255, 255, 255, .7);
}
/* See https://htmlcolorcodes.com/assets/images/color-picker/html-color-codes-color-wheel-analogous-thumb-43afde7d.png for color wheel */
/* #FF5733 - #FF8D19 - #FFC200 - #EDDC52 - #ADD45B - #57C785 - #00BAAD - #2A7B9B - #3C3D6B - #511749 - #900B3F - #C70038 */
nav.menu a:nth-child(1).active, nav.menu a:hover:nth-child(1) { background-color: var(--theme-color-home); }
nav.menu a:nth-child(2).active, nav.menu a:hover:nth-child(2) { background-color: var(--theme-color-vision-span); }
nav.menu a:nth-child(3).active, nav.menu a:hover:nth-child(3) { background-color: var(--theme-color-chunking); }
nav.menu a:nth-child(4).active, nav.menu a:hover:nth-child(4) { background-color: var(--theme-color-practice); }
nav.menu a:nth-child(5).active, nav.menu a:hover:nth-child(5) { background-color: var(--theme-color-settings); }
nav.menu a:nth-child(6).active, nav.menu a:hover:nth-child(6) { background-color: var(--theme-color-about); }
nav.menu a:nth-child(7).active, nav.menu a:hover:nth-child(7) { background-color: var(--theme-color-tdf); }

nav.menu i {
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 5px;
}
nav.menu a.active i, nav.menu a:hover i {
  border-color: rgba(255, 255, 255, .7);
}

section#content {
  margin-left: var(--menu-size);
  min-height: 100%;
}

@media only screen and (orientation: portrait) {
  section#content {
    margin-left: auto;
    margin-bottom: var(--menu-size);
  }
}

section.page > h2 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  font-size: 120px;
  opacity: 0.5;
  color: white;
  font-family: 'Arizonia', cursive;
  transform: rotate(-10deg);
  margin: 0;
}

@media only screen and (orientation: portrait) {
  section.page > h2 {
    bottom: var(--menu-size);
    font-size: 80px;
  }
}

section.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 20px;
  /* Center page content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Check this page for available variables: https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme */
  --mdc-theme-primary: white;
  --mdc-theme-on-primary: var(--mdc-theme-background);
  background-color: var(--mdc-theme-background);
}

section.page.home        { --theme-color: var(--theme-color-home);        --mdc-theme-background: var(--theme-color-home); }
section.page.vision-span { --theme-color: var(--theme-color-vision-span); --mdc-theme-background: var(--theme-color-vision-span);  }
section.page.chunking    { --theme-color: var(--theme-color-chunking);    --mdc-theme-background: var(--theme-color-chunking);  }
section.page.practice    { --theme-color: var(--theme-color-practice);    --mdc-theme-background: var(--theme-color-practice);  }
section.page.settings    { --theme-color: var(--theme-color-settings);    --mdc-theme-background: var(--theme-color-settings);  }
section.page.about       { --theme-color: var(--theme-color-about);       --mdc-theme-background: var(--theme-color-about);  }
section.page.tdf         { --theme-color: var(--theme-color-tdf);         --mdc-theme-background: var(--theme-color-tdf);  }

section.page h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: white;
}



.InnerContent {
  width: 80%;
  max-width: 10in;
  margin: 0 auto;
  margin-top: 5em;
}


.TabContent {
  margin: 2em 0;
}

/* TODO remove */
.ButtonForm {
  position: absolute !important;
  bottom: 0;
}


.Demo {
  z-index: 1000;
  background-color: var(--theme-color);
  --chunk-color: black;
}
.Demo h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.Demo .Text {
  max-width: 50rem;
  background: black;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 2rem auto;
  font: 1.5rem;
  line-height: 1.8;
  text-align: center;
}
.Demo .Text p {
  margin: 1rem 0;
}
.Demo .Text .Label {
  background: var(--theme-color);
  color: black;
  padding: 0.25rem;
  border-radius: 0.125em;
}
.Demo .Icon {
  color: var(--theme-color);
  margin-right: 0.5rem;
  margin-top: -2rem;
}
.Demo .InstructionsCheckbox {
  text-align: center;
  margin: 1rem auto;
}

.CornerTopLeft {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
