/*
 * Settings panel
 */


 /* TODO remove */
 .SettingsButton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.SettingsCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Settings {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  border-top: 1px solid black;
}
.Settings::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 100%;
  margin-top: -26px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.Settings > div {
  padding: 20px;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
}
/* END TODO */


.mdc-tab {
  background: rgba(0,0,0,0.5);

  --mdc-theme-secondary: white;
}
.mdc-tab.mdc-tab--active {
  background: var(--color-theme);
}
.mdc-tab .mdc-tab-indicator > .mdc-tab-indicator__content--icon { color: white; }
.mdc-tab.mdc-tab--active .mdc-tab-indicator > .mdc-tab-indicator__content--icon { color: black; }

.mdc-tab-indicator__content {
  opacity: 0.8;
}


/* TODO rename .Preferences to .Settings */
.Preferences section {
  width: 100%;
}
.Preferences h4 {
  color: black;
  margin: 1em 0 0.5em;
  font-size: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 0.3em solid black;
}
.Preferences p {
  text-align: center;
  margin: 1.5rem 0 1rem;
}


.Setting .GraphicOption {
  display: inline-block;
  height: 40px;
  line-height: 35px;
  vertical-align: baseline;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  margin: 0 0.1em;
}
.Setting .GraphicOption.selected {
  border: 1px solid black;
}
.Setting .GraphicOption .Clickable {
  display: block;
  padding: 0 0.7em;
}

.Setting select,
.Setting input {
  /* Desactive default OS style */
  background-color: transparent !important;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-right: 0.25em;
}

.Setting .GraphicOption > span {
  /* When using an inner span for styling, the span should not capture click events and let propage the event to the parent .GraphicOption */
  pointer-events: none;
}

table.Setting td {
  margin: 0.25em 0;
}
table.Setting th {
  text-align: right;
  vertical-align: middle;
  color: black;
}
table.Setting th, table.Setting td {
  padding: 0.25rem;
}
