/*
 * Settings panel
 */

 .SettingsButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  .SettingsCloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .Settings {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: black;
    border-top: 1px solid black;
  }
  .Settings > div {
    padding: 20px;
    max-width: 800px;
    min-height: 100px;
    margin: 0 auto;
  }
  .Settings .GraphicOption {
    display: inline-block;
    height: 40px;
    line-height: 35px;
    vertical-align: baseline;
    border-radius: 2px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  .Settings .GraphicOption.selected {
    border: 1px solid black;
  }
  .Settings .SubGraphicOption {
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
    padding: 5px;
  }

  .Settings table td {
    margin: 0.25em 0;
  }
  .Settings table th {
    width: 150px;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
  }
  .Settings table td {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  .Settings::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 100%;
    margin-top: -26px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  }