.ThemeLight, .GraphicOption.Light {
  color: black;
  background-color: white;
}
.ThemeSepia {
  color: black;
  background-color: AntiqueWhite;
  --chunk-color: brown;
}
.ThemeDark {
  color: white;
  background-color: #222222;
}
.ThemeBlack {
  color: white;
  background-color: black;
}
