.Control {
    display: inline-block;
    width: 250px;
    position: relative;
    margin: 20px;
}

.FontSelect, .FontStyle {
    width: 250px;
}

.mdc-select__selected-text {
    height: 70px;
}

.DrillArea .SourceCodePro,
.Settings .SourceCodePro,
.SourceCodePro.Preview,
.SourceCodePro.mdc-list-item,
.SourceCodePro .mdc-select__selected-text {
    font-family: 'Source Code Pro', monospace !important;
}
.DrillArea .Roboto,
.Settings .Roboto,
.Roboto.Preview,
.Roboto.mdc-list-item,
.Roboto .mdc-select__selected-text {
    font-family: 'Roboto', sans-serif !important;
}
.DrillArea .Slabo,
.Settings .Slabo,
.Slabo.Preview,
.Slabo.mdc-list-item,
.Slabo .mdc-select__selected-text {
    font-family: 'Slabo 27px', serif !important;
}
.DrillArea .Sacramento,
.Settings .Sacramento,
.Sacramento.Preview,
.Sacramento.mdc-list-item,
.Sacramento .mdc-select__selected-text {
    font-family: 'Sacramento', cursive !important;
}
.DrillArea .FredokaOne,
.Settings .FredokaOne,
.FredokaOne.Preview,
.FredokaOne.mdc-list-item,
.FredokaOne .mdc-select__selected-text {
    font-family: 'Fredoka One', cursive !important;
}


.DrillArea .Normal,
.Settings .Normal,
.Normal.Preview,
.Normal.mdc-list-item,
.Normal .mdc-select__selected-text {
    font-style: normal;
    font-weight: normal;
}
.DrillArea .Bold,
.Settings .Bold,
.Bold.Preview,
.Bold.mdc-list-item,
.Bold .mdc-select__selected-text {
    font-style: normal;
    font-weight: bold;
}
.DrillArea .Italic,
.Settings .Italic,
.Italic.Preview,
.Italic.mdc-list-item,
.Italic .mdc-select__selected-text {
    font-style: italic;
    font-weight: normal;
}
.DrillArea .BoldItalic,
.Settings .BoldItalic,
.BoldItalic.Preview,
.BoldItalic.mdc-list-item,
.BoldItalic .mdc-select__selected-text {
    font-style: italic;
    font-weight: bold;
}

.DrillArea .Size10pt,
.Settings .Size10pt,
.Size10pt.Preview,
.Size10pt.mdc-list-item,
.Size10pt .mdc-select__selected-text {
    font-size: 10pt;
}
.DrillArea .Size12pt,
.Settings .Size12pt,
.Size12pt.Preview,
.Size12pt.mdc-list-item,
.Size12pt .mdc-select__selected-text {
    font-size: 12pt;
}
.DrillArea .Size14pt,
.Settings .Size14pt,
.Size14pt.Preview,
.Size14pt.mdc-list-item,
.Size14pt .mdc-select__selected-text {
    font-size: 14pt;
}
.DrillArea .Size16pt,
.Settings .Size16pt,
.Size16pt.Preview,
.Size16pt.mdc-list-item,
.Size16pt .mdc-select__selected-text {
    font-size: 16pt;
}
.DrillArea .Size18pt,
.Settings .Size18pt,
.Size18pt.Preview,
.Size18pt.mdc-list-item,
.Size18pt .mdc-select__selected-text {
    font-size: 18pt;
}
