:root {
  --main-bg-color: rgb(38, 47, 61);
  --main-border-radius: 4px; /* Match MDC */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
}

a:visited {
  color: inherit;
}

/*
 * Menu
 */

/* Inspiration: https://console.firebase.google.com/project/typio-59500/overview */
nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  margin: 0;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}
nav.menu a {
  /* Box */
  padding: 20px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: gray;
  /* Text */
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}
nav.menu a.active, nav.menu a:hover {
  color: rgba(255, 255, 255, .7);
}
/* See https://htmlcolorcodes.com/assets/images/color-picker/html-color-codes-color-wheel-analogous-thumb-43afde7d.png for color wheel */
/* #FF5733 - #FF8D19 - #FFC200 - #EDDC52 - #ADD45B - #57C785 - #00BAAD - #2A7B9B - #3C3D6B - #511749 - #900B3F - #C70038 */
nav.menu a:nth-child(1).active, nav.menu a:hover:nth-child(1) { background-color: #FF5733; }
nav.menu a:nth-child(2).active, nav.menu a:hover:nth-child(2) { background-color: #FFC200; }
nav.menu a:nth-child(3).active, nav.menu a:hover:nth-child(3) { background-color: #ADD45B; }
nav.menu a:nth-child(4).active, nav.menu a:hover:nth-child(4) { background-color: #00BAAD; }
nav.menu a:nth-child(5).active, nav.menu a:hover:nth-child(5) { background-color: #2A7B9B; }
nav.menu a:nth-child(6).active, nav.menu a:hover:nth-child(6) { background-color: #3C3D6B; }
nav.menu a:nth-child(7).active, nav.menu a:hover:nth-child(7) { background-color: #900B3F; }

nav.menu i {
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 5px;
}
nav.menu a.active i, nav.menu a:hover i {
  border-color: rgba(255, 255, 255, .7);
}

section#content {
  margin-left: 80px;
  min-height: 100%;
}

section.page > h2 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  font-size: 120px;
  opacity: 0.5;
  color: white;
  font-family: 'Arizonia', cursive;
  transform: rotate(-10deg);
  margin: 0;
}

section.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 20px;

  /* Check this page for available variables: https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme */
  --mdc-theme-primary: white;
  --mdc-theme-on-primary: var(--mdc-theme-background);
  background-color: var(--mdc-theme-background);
}
section.page.home        { --mdc-theme-background: #FF5733;  }
section.page.vision-span { --mdc-theme-background: #FFC200; }
section.page.chunking    { --mdc-theme-background: #ADD45B; }
section.page.practice    { --mdc-theme-background: #00BAAD; }
section.page.about       { --mdc-theme-background: #2A7B9B; }
section.page.tdf         { --mdc-theme-background: #3C3D6B; }
section.page.tdf         { --mdc-theme-background: #900B3F; }

.FullScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  padding: 20px;
}

h3 {
  margin: 0;
}


.hidden {
  visibility: hidden;
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}

.wizard {
  text-align: center
}

h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: white;
}

.Preview {
  background: rgba(0,0,0,0.2);
  color: white;
  border-radius: var(--main-border-radius);
  box-shadow: inset 0px 3px 1px -2px rgba(0, 0, 0, 0.2), inset 0px 2px 2px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  min-height: 300px;
  position: relative;
}
.Preview::after {
  content: "Preview";
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 10px;
  border-top-right-radius: var(--main-border-radius);
  background: black;
  color: white;
  font-family: 'Roboto Condensed' !important;
  font-size: 14px;
}


.Catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Material Design theme customization */

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-background);
}

.mdc-card {
  width: 400px;
  margin: 20px;
  --mdc-theme-primary: var(--mdc-theme-background);
  --mdc-theme-on-primary: white;
}

.mdc-card h1 {
  padding: 20px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
}

.mdc-card a {
  text-decoration: none;
}

/*
 * BUG. The ripple effect blocks when the user clicks on a <Button> inside a <Card>.
 * We use a new class `NoRipple` to disable the attribute `opacity` as a workaround...
 * No better way to disable the ripple effect in React implementation: https://github.com/material-components/material-components-web-react/issues/248
 */
.mdc-card__primary-action.mdc-ripple-upgraded.NoRipple {
  --mdc-ripple-fg-opacity: 0;
}
.mdc-card__primary-action.NoRipple:not(.mdc-ripple-upgraded):focus::before, .mdc-card__primary-action.NoRipple.mdc-ripple-upgraded--background-focused::before {
  opacity: 0 !important;
}


.Demo {
  background: black;
  color: white;
  width: 400px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Demo .VisionSpanViewer {
  /*
   * How to Create an Isometric Layout With CSS 3D Transforms
   * https://webdesign.tutsplus.com/tutorials/create-an-isometric-layout-with-3d-transforms--cms-27134
   */
   transform: rotateX(40deg) rotateY(0deg) rotateZ(-25deg) scale(0.7);
}

/*
 * Settings panel
 */

.SettingsButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.SettingsCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
}
.Settings {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  border-top: 1px solid black;
}
.Settings > div {
  padding: 20px;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
}
.Option {
  display: inline-block;
  height: 40px;
  line-height: 35px;
  vertical-align: baseline;
  border-radius: 2px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}
.Option.selected {
  border: 1px solid black;
}
.SubOption {
  display: inline-block;
  margin: 5px;
  margin-left: 20px;
  padding: 5px;
}

.Settings table td {
  margin: 0.25em 0;
}
.Settings table th {
  width: 150px;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
}
.Settings table td {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.Settings::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 100%;
  margin-top: -26px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}











:root {
  --drill-vision-span-step: .25in;
}

.VisionSpanDrill {
  text-align: center;
}
.DrillControls,
.PageControls {
  position: fixed;
  z-index: 999;
}
.DrillControls {
  right: 20px;
  top: 20px;
  text-align: right;
}
.PageControls {
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
}

.DrillControls ul,
.PageControls ul {
  list-style-type: none;
}
.DrillControls li,
.PageControls li {
  display: inline-block;
}


button {
  cursor: pointer;
}

.OutOfScreen {
  position: fixed;
  left: -100%;
  top: -100%;
}

/* An input without the border */
.input {
  border: none;
  color: white;
}
.input:focus{
  outline: none;
}

.input-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  margin-left: -5px;
  margin-top: -5px;
  font-size: 1.5em;
  background-color: black;
  color: white;
  z-index: 10;
  text-transform: uppercase;
}

.Drill {

}
.DrillArea {
  position: fixed;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Serie {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Line {
  line-height: 1.5em;
}

.Cell {
  display: inline-block;
  width: 0.25in;
  text-align: center;
}
.Cell.valid {
  color: green;
}
.Cell.highlighted {
  background-color: green;
  color: white;
}


.SpanLeft0in     { margin-left:  0in;     }
.SpanRight0in    { margin-right: 0in;     }
.SpanLeft0_25in  { margin-left:  0.125in; }
.SpanRight0_25in { margin-right: 0.125in; }
.SpanLeft0_5in   { margin-left:  0.25in;  }
.SpanRight0_5in  { margin-right: 0.25in;  }
.SpanLeft0_75in  { margin-left:  0.375in; }
.SpanRight0_75in { margin-right: 0.375in; }
.SpanLeft1in     { margin-left:  0.5in;   }
.SpanRight1in    { margin-right: 0.5in;   }
.SpanLeft1_25in  { margin-left:  0.625in; }
.SpanRight1_25in { margin-right: 0.625in; }
.SpanLeft1_5in   { margin-left:  0.75in;  }
.SpanRight1_5in  { margin-right: 0.75in;  }
.SpanLeft1_75in  { margin-left:  0.875in; }
.SpanRight1_75in { margin-right: 0.875in; }
.SpanLeft2in     { margin-left:  1in;     }
.SpanRight2in    { margin-right: 1in;     }
.SpanLeft2_25in  { margin-left:  1.125in; }
.SpanRight2_25in { margin-right: 1.125in; }
.SpanLeft2_5in   { margin-left:  1.25in;  }
.SpanRight2_5in  { margin-right: 1.25in;  }
.SpanLeft2_75in  { margin-left:  1.375in; }
.SpanRight2_75in { margin-right: 1.375in; }
.SpanLeft3in     { margin-left:  1.5in;   }
.SpanRight3in    { margin-right: 1.5in;   }
.SpanLeft3_25in  { margin-left:  1.625in; }
.SpanRight3_25in { margin-right: 1.625in; }
.SpanLeft3_5in   { margin-left:  1.75in;  }
.SpanRight3_5in  { margin-right: 1.75in;  }
.SpanLeft3_75in  { margin-left:  1.875in; }
.SpanRight3_75in { margin-right: 1.875in; }
.SpanLeft4in     { margin-left:  2in;     }
.SpanRight4in    { margin-right: 2in;     }

.Width0in     { width: 0in;    }
.Width0_25in  { width: 0.25in; }
.Width0_5in   { width: 0.5in;  }
.Width0_75in  { width: 0.75in; }
.Width1in     { width: 1in;    }
.Width1_25in  { width: 1.25in; }
.Width1_5in   { width: 1.5in;  }
.Width1_75in  { width: 1.75in; }
.Width2in     { width: 2in;    }
.Width2_25in  { width: 2.25in; }
.Width2_5in   { width: 2.5in;  }
.Width2_75in  { width: 2.75in; }
.Width3in     { width: 3in;    }
.Width3_25in  { width: 3.25in; }
.Width3_5in   { width: 3.5in;  }
.Width3_75in  { width: 3.75in; }
.Width4in     { width: 4in;    }
.Width3in     { width: 4.25in; }
.Width4_25in  { width: 4.25in; }
.Width4_5in   { width: 4.5in;  }
.Width4_75in  { width: 4.75in; }
.Width5in     { width: 5in;    }






.Paper {
  --line-height: 1.5em;

  position: relative;
  margin: auto;

  /* this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  line-height: var(--line-height);
}

.PaperContent {
  position: absolute;

  /* To determine book margins: https://en.wikibooks.org/wiki/Basic_Book_Design/Margins */
  --standard-book-margin: 0.5in;
  top: var(--standard-book-margin);
  left: var(--standard-book-margin);
  right: var(--standard-book-margin);
  bottom: var(--standard-book-margin);
  /* Important: Adjust margins, font size, and columns to produce 65-70 characters per line (including spaces). */

  text-align: justify;

  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* https://www.thebookdesigner.com/2012/04/paragraphing-style/ */
.Paper p {
  text-indent: 1.5em;
  line-height: 1.5em;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}
.Paper p.Continuation {
  text-indent: 0;
}
.Paper p.Continued {
  text-align-last: justify;
}

.Paper h1 {
  font-size: 2em;
  font-weight: bold;
}
.Paper h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.Paper h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.Paper i {
  font-style: italic;
}


.PaperExtended {
  top: 2em;
  right: 2em;
  bottom: 2em;
  left: 2em;
}

/* See https://www.papersizes.org/a-paper-sizes.htm */
.PaperA4 {
  width: 210mm;
  height: 297mm;
}
.PaperA5 {
  width: 148mm;
  height: 210mm;
}
.PaperA6 {
  width: 105mm;
  height: 148mm;
}
/* See http://www.indesignskills.com/tutorials/standard-book-sizes/ */
.PaperPocket {
  width: 4.25in;
  height: 6.87in;
}
.PaperDigest {
  width: 5.5in;
  height: 8.5in;
}
.PaperPaperback {
  width: 6in;
  height: 9in;
}
.PaperHardcover {
  width: 7.5in;
  height: 10.5in;
  padding: 1in;
}


.Ruler {
  opacity: 0;
}

.Pager {
  opacity: 0;
  z-index: 0;
}

.Chunk.Selected {
  background-color: yellow;
}

.ButtonClose {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: black !important;
}





/* TODO check to keep only the first declaration */
.SourceCodePro,
.DrillArea .SourceCodePro,
.Settings .SourceCodePro {
  font-family: 'Source Code Pro', monospace !important;
}
.Roboto,
.DrillArea .Roboto,
.Settings .Roboto {
  font-family: 'Roboto', sans-serif !important;
}
.Slabo,
.DrillArea .Slabo,
.Settings .Slabo {
  font-family: 'Slabo 27px', serif !important;
}
.Sacramento,
.DrillArea .Sacramento,
.Settings .Sacramento {
  font-family: 'Sacramento', cursive !important;
}
.FredokaOne,
.DrillArea .FredokaOne,
.Settings .FredokaOne {
  font-family: 'Fredoka One', cursive !important;
}

.Normal,
.DrillArea .Normal,
.Settings .Normal {
  font-style: normal;
  font-weight: normal;
}
.Bold,
.DrillArea .Bold,
.Settings .Bold {
  font-style: normal;
  font-weight: bold;
}
.Italic,
.DrillArea .Italic,
.Settings .Italic {
  font-style: italic;
  font-weight: normal;
}
.BoldItalic,
.DrillArea .BoldItalic,
.Settings .BoldItalic {
  font-style: italic;
  font-weight: bold;
}

.Size10pt,
.DrillArea .Size10pt,
.Settings .Size10pt {
  font-size: 10pt;
}
.Size12pt,
.DrillArea .Size12pt,
.Settings .Size12pt {
  font-size: 12pt;
}
.Size14pt,
.DrillArea .Size14pt,
.Settings .Size14pt {
  font-size: 14pt;
}
.Size16pt,
.DrillArea .Size16pt,
.Settings .Size16pt {
  font-size: 16pt;
}
.Size18pt,
.DrillArea .Size18pt,
.Settings .Size18pt {
  font-size: 18pt;
}


/* ChunkingDrillChunk */

.ChunkingDrillChunk {
  --chunk-neighbor-margin: .25em;
}

.ChunkingDrillChunk .Chunks {
  text-align: center;
}

.ChunkingDrillChunk .Chunk {
  display: inline-block;
  padding: 10px;
}

.ChunkingDrillChunk.NeighborPositionVertical .Chunk {
  margin-top: var(--chunk-neighbor-margin);
  margin-bottom: var(--chunk-neighbor-margin);
}
.ChunkingDrillChunk.NeighborPositionHorizontal .Chunk {
  display: inline-block;
  margin-left: var(--chunk-neighbor-margin);
  margin-bottom: var(--chunk-neighbor-margin);
}

