:root {
  --main-bg-color: rgb(38, 47, 61);
  --main-border-radius: 4px; /* Match MDC */

  --chunk-color-light: DeepSkyBlue;
  --chunk-color-dark: DeepSkyBlue;

  --drill-vision-span-step: .25in;

  /* Global theme */
  --theme-color-home:        #FF5733;
  --theme-color-vision-span: #FFC200;
  --theme-color-chunking:    #ADD45B;
  --theme-color-practice:    #00BAAD;
  --theme-color-settings:    #49b9e6;
  --theme-color-about:       #3C3D6B;
  --theme-color-tdf:         #900B3F;
}

/* Common */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
}

a:visited {
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

@import 'css/Common.css';
@import 'css/Core.css';
@import 'css/Layout.css';
@import 'css/Paper.css';
@import 'css/Catalog.css';
@import 'css/Drill.css';
@import 'css/Settings.css';
@import 'css/Library.css';


/* https://google.github.io/material-design-icons/#what-are-material-icons- */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }