:root {
  --main-bg-color: rgb(38, 47, 61);
  --main-border-radius: 4px; /* Match MDC */

  --chunk-color-light: DeepSkyBlue;
  --chunk-color-dark: DeepSkyBlue;

  --drill-vision-span-step: .25in;

  /* Global theme */
  --theme-color-home:        #FF5733;
  --theme-color-vision-span: #FFC200;
  --theme-color-chunking:    #ADD45B;
  --theme-color-practice:    #00BAAD;
  --theme-color-settings:    #49b9e6;
  --theme-color-about:       #3C3D6B;
  --theme-color-tdf:         #900B3F;
}

/* Common */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
}

a:visited {
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

@import 'css/Common.css';
@import 'css/Core.css';
@import 'css/Layout.css';
@import 'css/Paper.css';
@import 'css/Catalog.css';
@import 'css/Drill.css';
@import 'css/Settings.css';
@import 'css/Library.css';
