.Paper {
    --line-height: 1.5em;

    position: relative;
    margin: auto;
    background-color: #FBFBFB;

    /* this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    line-height: var(--line-height);
}

.PaperContent {
    position: absolute;

    /* To determine book margins: https://en.wikibooks.org/wiki/Basic_Book_Design/Margins */
    --standard-book-margin: 0.5in;
    top: var(--standard-book-margin);
    left: var(--standard-book-margin);
    right: var(--standard-book-margin);
    bottom: var(--standard-book-margin);
    /* Important: Adjust margins, font size, and columns to produce 65-70 characters per line (including spaces). */

    text-align: justify;

    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* https://www.thebookdesigner.com/2012/04/paragraphing-style/ */
.Paper p {
    text-indent: 1.5em;
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
}
.Paper p.Continuation {
    text-indent: 0;
}

.Paper h1 {
    font-size: 2em;
    font-weight: bold;
}
.Paper h2 {
    font-size: 1.5em;
    font-weight: bold;
}
.Paper h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.Paper i {
    font-style: italic;
}


.PaperExtended {
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em;
}

/* See https://www.papersizes.org/a-paper-sizes.htm */
.PaperA4 {
    width: 210mm;
    height: 297mm;
}
.PaperA5 {
    width: 148mm;
    height: 210mm;
}
.PaperA6 {
    width: 105mm;
    height: 148mm;
}
/* See http://www.indesignskills.com/tutorials/standard-book-sizes/ */
.PaperPocket {
    width: 4.25in;
    height: 6.87in;
}
.PaperDigest {
    width: 5.5in;
    height: 8.5in;
}
.PaperPaperback {
    width: 6in;
    height: 9in;
}
.PaperHardcover {
    width: 7.5in;
    height: 10.5in;
    padding: 1in;
}


.Ruler {
    opacity: 0;
}

.Pager {
    opacity: 0;
    z-index: 0;
}

.Chunk.Selected {
    background-color: yellow;
}

.ButtonClose {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    color: black !important;
}





/* TODO check to keep only the first declaration */
.SourceCodePro,
.DrillArea .SourceCodePro,
.Settings .SourceCodePro {
    font-family: 'Source Code Pro', monospace !important;
}
.Roboto,
.DrillArea .Roboto,
.Settings .Roboto {
    font-family: 'Roboto', sans-serif !important;
}
.Slabo,
.DrillArea .Slabo,
.Settings .Slabo {
    font-family: 'Slabo 27px', serif !important;
}
.Sacramento,
.DrillArea .Sacramento,
.Settings .Sacramento {
    font-family: 'Sacramento', cursive !important;
}
.FredokaOne,
.DrillArea .FredokaOne,
.Settings .FredokaOne {
    font-family: 'Fredoka One', cursive !important;
}

.Normal,
.DrillArea .Normal,
.Settings .Normal {
    font-style: normal;
    font-weight: normal;
}
.Bold,
.DrillArea .Bold,
.Settings .Bold {
    font-style: normal;
    font-weight: bold;
}
.Italic,
.DrillArea .Italic,
.Settings .Italic {
    font-style: italic;
    font-weight: normal;
}
.BoldItalic,
.DrillArea .BoldItalic,
.Settings .BoldItalic {
    font-style: italic;
    font-weight: bold;
}

.Size10pt,
.DrillArea .Size10pt,
.Settings .Size10pt {
    font-size: 10pt;
}
.Size12pt,
.DrillArea .Size12pt,
.Settings .Size12pt {
    font-size: 12pt;
}
.Size14pt,
.DrillArea .Size14pt,
.Settings .Size14pt {
    font-size: 14pt;
}
.Size16pt,
.DrillArea .Size16pt,
.Settings .Size16pt {
    font-size: 16pt;
}
.Size18pt,
.DrillArea .Size18pt,
.Settings .Size18pt {
    font-size: 18pt;
}

